.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    position: relative;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    max-width: 850px;
    overflow: hidden;
}

.button {
    position: absolute;
    font-size: 100px;

    &Prev {
        left: 0;
    }

    &Next {
        right: 0;
    }
}

.slider {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}