.after {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 100%;
    transition: width 0.4s ease-out, background-color var(--change-theme-transition);
    content: '';
}

.afterMainTheme {
    background-color: var(--button-main-bg-color);
}

.afterSecondaryTheme {
    background-color: var(--button-secondary-bg-color);
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    width: calc(100% - var(--welcome-page-indents));
    height: 5%;
    min-height: 60px;
    max-height: 70px;
    font-size: 2em;
    transition: width 0.3s ease-out, color var(--change-theme-transition);
    border: var(--border-size) solid var(--border-color);

    &:hover .after {
        width: 100%;
    }
}

.buttonMainTheme {
    color: var(--button-secondary-color);

    &:hover {
        color: var(--button-main-color);
    }
}

.buttonSecondaryTheme {
    color: var(--button-secondary-color);
}

