:root {
    // mainColors
    --white: #F3F4F6;
    --black: #000;
    --main-color: #FFD25D;
    --secondary-color: #d35400; 
    --grey: #838383;

    // colors

    // border
    --border-color: var(--white);

    // lines
    --lines-main-color: var(--main-color);
    --lines-secondary-color: var(--secondary-color);

    // progressBar
    --progressbar-bg-main-color: var(--main-color);
    --progressbar-bg-secondary-color: var(--secondary-color);
    --progressbar-progress-scroll-bg-color: var(--white);

    // same
    --title-color: var(--white);
    --text-color: var(--black);

    // button
    --button-main-color: var(--black);
    --button-main-bg-color: var(--main-color);
    --button-secondary-color: var(--white);
    --button-secondary-bg-color: var(--secondary-color);


    // scroll

    // size
    --change-theme-transition: 0.2s ease-out;
    --page-container-width: 1400px;
    --progressbar-height: 15px;
    --header-heigth: 70px;
    --bg-blur: blur(30px);
    --welcome-page-indents: 60px;
    --border-size: 2px;

    // z-index
    --z-index-background: 1;
    --z-index-content: 2;
    --z-index-progress-bar: 50;
}

@font-face {
    font-family: Lobster;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Lobster/Lobster-Regular.ttf') format('opentype');
}

body {
    font-family: Lobster, serif;
    font-weight: 400;
}