* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

button {
    display: inline-block;
    background: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

label {
	cursor: pointer;
}