.button {
    width: 250px;
    height: 350px;
    background-color: aquamarine;
    flex-shrink: 0;
    transition: transform 0.4s ease-out, opacity 0.4s;
}

.last {
    position: absolute;
    left: -300px;
}