.slider {
    overflow: hidden;
    height: 100%;
}

.slides {
    height: inherit;
    width: 100%;
    background-image: url('../../../../img/png/restaurant-slider-bg-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}