.container {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: var(--progressbar-height);
    background-color: var(--progressbar-bg-color);
}

.progress {
    height: inherit;
    background-color: var(--progressbar-progress-scroll-bg-color);
    will-change: width;
}